body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    height: 80vh;
    overflow-y: auto;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    background-image: url('../images/bg.jpg'); /* Replace 'your-image-url.jpg' with the actual image URL */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 50%; 
    word-wrap: break-word;
}

.left {
    max-width: 50%;
    background-color: #3498db;
    color: #fff;
    align-self: flex-start;
}

.right {
    max-width: 50%;
    background-color: #4CAF50;
    margin-left: auto;
    color: #fff;
    align-self: flex-end;
}

.send {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 60vh; /* Set a maximum height for the message wrapper */
    overflow-y: auto; /* Add scrollbar if content exceeds the specified height */
}


.sendMessage {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%; /* Set the width to 100% to fill the container */
    box-sizing: border-box; /* Include padding in the width calculation */
}
#sendButton {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #45a049;
}
